<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Narek Saponjyan info@saponjyan.com https://saponjyan.com">
    <meta name="description" content="Discover how our Saponjyan AI AI-powered platform revolutionizes data analysis.trading bots   , text to image,txt2img,telegram bots,deep fake, text to video,text2video">
    <meta name="keywords" content="SPJ, SPJ token, AI, Saponjyan, txt2img, deep fake,trading bots, binance, bybit">
    <link rel="canonical" href="https://saponjyan.com">
    <!--  
    Document Title
    =============================================
    -->
    <title>SPJ AI: {% block title %}{% endblock %}</title>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(97379985, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/97379985" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="static/lib/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="static/lib/animate.css/animate.css" rel="stylesheet">
    <link href="static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="static/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="static/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="static/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="static/css/colors/default.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">SAPONJYAN...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="price" class="navbar-brand" href="/ai">SPJ <a href=""></a></p></a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                <!-- <a class="dropdown-toggle" href="index.html" data-toggle="dropdown">Домой</a> -->
        <div class="main">
          <li><a href="/ai">AI:Text to Image</a></li>
                <li class="dropdown">
                  <!-- <a class="dropdown-toggle" href="#" data-toggle="dropdown">Контакты</a> -->
                
                  <ul class="dropdown-menu">
                    
                    <!-- <li><a href="http://t.me/Saponjyan">Telegram</a></li>
          <li><a href="http://t.me/Saponjyan_bot">чат-бот @saponjyan_bot</a></li> -->

                  </ul>
                </li>
                
                <li><a href="/sorry">Text to Video</a></li>
                <li><a href="https://pnb.am">Pinky and Brain</a></li>
                <li><a href="/sorry">Trading bots</a></li>
                <li><a href="/sorry">API</a></li>
                <li><a class ="wallet_balance" id = "wallet_balance">    </a></li>
                <li><a class= "wallet_hesh" id = "wallet_hesh">  Wallet  </a></li>


              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="static/images/agency/agency_bg.jpg" alt="парсер">
        <div class="titan-caption">
          <div class="caption-content">
            <br><br><br><br>
            <div  class="font-alt mb-30 titan-title-size-3">Simplicity is prerequisite for reliability</div>
            <div class="font-alt mb-40 titan-title-size-3">We Build<span class="rotate">   AI |   FUTURE TRADING | TRADING BOTS</span>
                {% block main %}{% endblock %}
            </div>
            <!-- <a class="section-scroll btn btn-border-w btn-circle" href="index.html#works">скачать</a> -->
          </div>
        </div>
      </section>
      <!-- №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ -->
      <div class="main">

        <section class="module">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Our Targets:</h3> Revolutionizing AI in Finance
                  We are a team of passionate innovators dedicated to harnessing the power of Artificial Intelligence (AI) to revolutionize the world of finance. Our mission is to empower traders with cutting-edge AI tools that analyze market trends, predict price movements, and make informed trading decisions.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">What are we building:</h3>With our state-of-the-art AI models, we provide real-time market analysis, personalized trading recommendations, and interactive AI chatbots for engaging with the latest market trends.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="features-title font-alt">Work:</h3>Join us on this exciting journey as we transform the way traders interact with financial markets.
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lifesaver"></span></div>
                  <h3 class="features-title font-alt">SPJ Token:</h3>Our SPJ token serves as the cornerstone of our ecosystem, enabling seamless transactions and unlocking new possibilities for innovation and growth. With SPJ, users gain access to a dynamic platform that fosters collaboration, rewards creativity, and drives progress. 
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module pt-0 pb-0" id="about">
          <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6 side-image" data-background="static/images/tb2.jpg" alt="парсер"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="module-title font-alt align-left">About Us</h2>
                  <div class="module-subtitle font-serif align-left">Revolutionizing AI in Finance</div>
                  <p>We are a team of passionate innovators dedicated to harnessing the power of Artificial Intelligence (AI) to revolutionize the world of finance. Our mission is to empower traders with cutting-edge AI tools that analyze market trends, predict price movements, and make informed trading decisions.</p>
                  <p>Whether you are a seasoned trader looking for advanced AI algorithms to enhance your strategies, a beginner eager to learn from AI-driven insights, or simply curious about the future of finance, we have something for you.</p>
                  <p>With our state-of-the-art AI models, we provide real-time market analysis, personalized trading recommendations, and interactive AI chatbots for engaging with the latest market trends. Join us on this exciting journey as we transform the way traders interact with financial markets.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    
  
    
        <section class="module pb-0" id="works">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our Works</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <!-- <ul class="filter font-alt" id="filters">
                  <li><a class="current wow fadeInUp" href="#" data-filter="*">all</a></li>
                  <li><a class="wow fadeInUp" href="parser.html" data-filter=".illustration" data-wow-delay="0.2s">ai</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">боты</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">api</a></li>
                  <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">signals</a></li>
                </ul> -->
              </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-d" id="works-grid">
              <li class="work-item illustration webdesign"><a href="progs/growbox.rar" download="">
                  <div class="work-image"><img src="static/images/portfolio/rab1.jpg" alt="парсер"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">Img2text</h3>
                    <div class="work-descr">Img2text</div>
                  </div></a></li>
              <li class="work-item marketing photography"><a href="progs/thelook.zip" download="">
                  <div class="work-image"><img src="static/images/portfolio/rab2.jpg" alt="парсер"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">img2video</h3>
                    <div class="work-descr">img2video</div>
                  </div></a></li>
              <li class="work-item illustration photography"><a href="progs/titan-master.zip" download="">
                  <div class="work-image"><img src="static/images/portfolio/rab3.jpg" alt="парсер"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">OCR</h3>
                    <div class="work-descr">OCR</div>
                  </div></a></li>
              <li class="work-item marketing photography"><a href="progs/lentascraper.rar" download="">
                  <div class="work-image"><img src="static/images/portfolio/rab4.jpg" alt="парсер"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">Computer vision</h3>
                    <div class="work-descr">Computer vision</div>
                  </div></a></li>
              <li class="work-item illustration webdesign"><a href="progs/mebel.rar" download="">
                  <div class="work-image"><img src="static/images/portfolio/object_detection.png" alt="object_detection"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">Object detection</h3>
                    <div class="work-descr">Object detection</div>
                  </div></a></li>
              <li class="work-item marketing webdesign"><a href="progs/Youla_Parser-master.rar" download="">
                  <div class="work-image"><img src="static/images/portfolio/rab6.jpg" alt="парсер"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title"> TinyML</h3>
                    <div class="work-descr">TinyML</div>
                  </div></a></li>
            </ul>
          </div>
        </section>
        
   
        <hr class="divider-w">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">FAQ</h4>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">AI: Text to Image</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div class="panel-body">Your image in telegram chanel @SPJ_Token
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">AI:Text to Video</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support2">
                      <div class="panel-body">Your Video in telegram chanel @SPJ_Token
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Trading Bots</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support3">
                      <div class="panel-body">Free Trading Signals @SPJ_Signals
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Banking</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div class="panel-body">this page is under construction
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">Our Developments:</h4>
                <h6 class="font-alt"><span class="icon-tools-2"></span> AI
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span> Trading Bots
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-target"></span> Object Detection
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-camera"></span> Computer vision
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span> OCR
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-lifesaver"></span> TinyML
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="static/images/mir.jpg" alt="парсер">
          <div class="testimonials-slider pt-140 pb-140">
            <ul class="slides">
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">In theory, theory and practice are the same. In practice, they are not.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Yoggi Berra</div>
                          <div class="testimonial-descr"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt"> Measuring programming progress by lines of code is like measuring aircraft building progress by weight.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Bill Gates</div>
                          <div class="testimonial-descr"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="module-icon"><span class="icon-quote"></span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <blockquote class="testimonial-text font-alt">Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.</blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                      <div class="testimonial-author">
                        <div class="testimonial-caption font-alt">
                          <div class="testimonial-title">Martin Golding</div>
                          <div class="testimonial-descr"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>


         <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Contacts</h5>
                  <p>Телеграм:<a href="http://t.me/NarekSaponjyan">    Send Message</a></p>
                  <!-- <p>whatsapp:<a href="https://api.whatsapp.com/send/?phone=37455727057&text&type=phone_number&app_absent=0">    отправить сообшение</a></p> -->
                </div>
              </div>

              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">OUR DEVELOPMENTS</h5>
                  <ul class="icon-list">
                    <li>AI: <a href="/ai">Text2img</a></li>
                    <li>AI: <a href="/sorry">Text2Video</a></li>
                    <li>Trading bots<a href="https://t.me/spj_signals">Free Trading Signals @SPJ_Signals</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Soon</h5>
                  <ul class="icon-list">
                    <li><a href="https://pnb.am">Pinky and Brain MEMECOIN</a></li>
                    <li><a href="https://t.me/spj_signals">Trading bots</a></li>
                    
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Hot Topics:</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="/ai"><img src="static/images/rabi5.jpg" alt="AI"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="/ai">AI: text to image</a></div>
                        <div class="widget-posts-meta">2024</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="https://pnb.am"><img src="static/images/favicons/logo.png" alt="PNB"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="https://pnb.am">Pinky and the brain</a></div>
                        <div class="widget-posts-meta">Memecoin</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2024&nbsp;<a href="https://t.me/NarekSaponjyan">Saponjyan</a>, All Rights Reserved</p>
              </div>
              
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/js/bootstrap.min.js"></script>
    <script src="static/lib/wow.js"></script>
    <script src="static/lib/jquery.mb.YTPlayer.js"></script>
    <script src="static/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="static/lib/flexslider/jquery.flexslider.js"></script>
    <script src="static/lib/owl.carousel.min.js"></script>
    <script src="static/lib/smoothscroll.js"></script>
    <script src="static/lib/jquery.magnific-popup.js"></script>
    <script src="static/lib/jquery.simple-text-rotator.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/wallet.js"></script>
    <script src="static/js/price.js"></script>
    <script src="static/js/load.js"></script>

  </body>
</html>


