{% extends "layout.html" %}

{% block title %}
Under construction
{% endblock %}

{% block main %}


<h1  class ="white">
    <h3 style="color: red; background: black;">Sorry this page is under construction</h3>
    <br>
    
    <h5><a  style="color: white; background: black;" href="https://t.me/SPJ_Token">Your image in telegram chanel @SPJ_Token</a></h5>
    <h5><a  style="color: white; background: black;" href="https://t.me/SPJ_Signals">Free Trading Signals @SPJ_Signals</a></h5>
</h1>

{% endblock %}

